<div>
  <h1>Current To Do List</h1>
    <form class="form-inline" ng-submit="addTodo(ntodo.text)">
      <div class ="form-group">
        <input type="text" class="form-control" placeholder="What needs doing?" ng-model="todo.text">
      </div>
      <button type="submit" class="btn btn-default">add</button>
    </form>
    <div ng-repeat="todo in todos" ng-cloak>
      <ul class="list-group">
        <li class="list-group-item"> 
        {{todo.text}}
        <input type="checkbox" class="checkbox" ng-click="todo.done">
        </li>
      </ul>
    </div>
  </div>


